<style>
	p {
		font-size:18px;
	}

</style>

<div class="container">
<div class="col col-lg-2">
	
</div>
<div class="col col-lg-8">
	{{!-- <h1 class="Three-Dee" style="text-align:center;" alt="This is a terrible picture of me"></h1> --}}

	<img style="height:300px; float:left;margin-right:20px;margin-top:20px;"src="static/images/iamz2.JPG"/>

	<p><em style="font-size:50px;font-family:times;">Who am I?</em><p>

	<p>I'm a NJ resident, recently moved back from PA. I grew up here too, and coming back to my old stomping grounds was the best thing I've done in years. I had taken a short detour in life to work at the Sands Bethlehem casino. Initially I loved the work, I was great at it, and it worked well with my lifestyle. But as the years wore on I realized that there wasn't much else to learn as a dealer, the environment was terrible (smoke, noise, and crowds), and advancing up the managerial track involves a pay cut (weird right?). So I decided to make the move over to web design/programming. I've been finding it really interesting, useful, and engaging! It really scratches at my creative itch. </p>

	<p>I'm a recent graduate of Rutgers Coding Bootcamp, an intensive 6 month course to get on your way to being an awesome full-stack developer. It was a great experience working with the instructors and many talented, passionate classmates. We faced tough topics, frustrations, and so many "Aha!" moments as our understanding started to click. The group work was the most gratifying, as we collaborated to work on our final projects and impress our teachers and each other. <a href="/wordwars"><b>Word Wars</b></a> was the one I worked on!</p>

	<p>I have a passion for game design. I've been independently studying it for a few years now, and working on projects weekly for about two. It's been a difficult journey, and I still have much to learn. But its been fun! I've met tons of great, interesting people who've helped me on my way. I've built up a small collection of games looking for publishers and numerous projects that are still in the works.</p>

	{{!-- <p>I've been modeling my studies off the NYU masters program courses. Basically they do a 2 year crash course of programming, analog game design, learning technologies, and constantly making games. I figure that at my current rate I may have a comparable skill set within 5 years or so, but without the mountain of student debt I would have accrued from going there. With any luck, I'll be able to leverage my programming and design knowledge with my passion, and end up in the games industry.</p> --}}
</div>
<div class="col col-lg-2">
	
</div>
</div>