<style>
.carousel-contro{
}
#myCarousel{

}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  font-size: 24px;
  line-height: 24px;
  margin-top: -12px;
}
img{

}
.item-active{
	text-align:center;
}
</style>

<div class="container">

	<div class="col col-lg-2"></div>

	<div class="col col-lg-8" style="text-align:center;">

		{{!-- <div class="col col-lg-8" style="text-align:center;"> --}}

			<h3>Hi, my name is <b style="font-size:35px;font-family:times;" class="lblue">Zintis May-Krumins</b>.<br> I am a web developer by day, game designer by night.<br> Come take a look at some of my projects!<h3>

		{{!-- </div> --}}

		<div class="">

			{{!-- <div class="col col-lg-1"></div> --}}

			<div class="col col-lg-12">

				<div id="myCarousel" class="carousel slide" data-ride="carousel">

				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				    <li data-target="#myCarousel" data-slide-to="3"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				    <a href="/wordwars">
				      <img class="carouselImage" src="static/images/wordwars.png" alt="Word Wars">
				    </a>
				    </div>

				    <div class="item">
				    <a href="/poemcomber">
				      <img class="carouselImage" src="static/images/pcomber.png" alt="Poem Comber">
				    </a>
				    </div>

				    <div class="item">
				    <a href="/communitycode">
				      <img class="carouselImage" src="static/images/ccode.png" alt="Community Code">
				    </a>
				    </div>

				    <div class="item">
					<a href="/hangman">
				      <img class="carouselImage" src="static/images/hman.png" alt="Hangman">
					</a>
				    </div>
				  </div>

				  <!-- Left and right controls -->
				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

			</div>
			{{!-- <div class="col col-lg-1"></div> --}}
		</div>

	</div>

	<div class="col col-lg-2"></div>



	

</div>