<div class="row">
		<div class="col col-lg-2"></div>

		<div class="col col-lg-8">

			<a href="http://wordwarsapp.herokuapp.com" target="_blank">
				<img src="static/images/wordwars.png" class="img-rounded" data-href="http://wordwarsapp.herokuapp.com" >
			</a>

			<a href="http://poemcomber.herokuapp.com" target="_blank">
				<img src="static/images/pcomber.png" class="img-rounded" data-href="https://poemcomber.herokuapp.com/" >
			</a>

			<a href="http://communitycode.herokuapp.com/" target="_blank">
				<img src="static/images/ccode.png" class="img-rounded" data-href="http://communitycode.herokuapp.com/" >
			</a>

		</div>

		<div class="col col-lg-2"></div>

	</div>