<div class="container">

	<div class="row">
		<div class="col col-lg-2"></div>

		<!--<div class="col col-lg-8">

			<a href="http://wordwarsapp.herokuapp.com" target="_blank">
				<img src="static/images/wordwars.png" class="img-rounded" data-href="http://wordwarsapp.herokuapp.com" >
			</a>

			<a href="http://poemcomber.herokuapp.com" target="_blank">
				<img src="static/images/pcomber.png" class="img-rounded" data-href="https://poemcomber.herokuapp.com/" >
			</a>

			<a href="http://communitycode.herokuapp.com/" target="_blank">
				<img src="static/images/ccode.png" class="img-rounded" data-href="http://communitycode.herokuapp.com/" >
			</a>

		</div>-->

		<div class="col col-lg-2"></div>

	</div>

	<div class="row">
		<div class="col col-lg-2"></div>
		<div class="col col-lg-8 ">

			<div class="bigImage">
				
			</div>


		</div>
		<div class="col col-lg-2"></div>
	</div>

	<script>

	var intro = ""

	$('.bigImage').html(intro);

	var text = [
	'<h2>Word Wars</h2><p<>/p>',
	'',
	''
	]
		<!--$(document).ready(function(){

			$(".img-rounded").hover(function(){

			    $('.bigImage').html("<a href='" + $(this).attr('data-href')+ "' target='_blank'><img style='width:100%;' src='"+this.src + "' /></a>");
			    console.log($(this).attr('data-href'));
				    
			});
		});-->
	</script>

</div>