<!DOCTYPE html>
<html>
<head>
	<title>Zintis May - Web Developer</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/css/main.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
	<body>

    <nav class="navbar navbar-default">

      <div class="container-fluid">

      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
          </button>
          <!-- <img src="static/images/zintismay3.png" style="height:50px; margin:5px"/> -->
          <div class=""><a href="/home" class="brand">
            <span class="lblue" style="font-family:Times; font-size:40px; padding-left:50px;">Zintis May</span></a>
            <span class="lblue shrink" style="font-family:Times; font-size:25px; padding-left: 15px">Web Developer</span>
            <span class="lblue shrink" style="font-family:Times; font-size:25px; padding-left: 15px">Game Designer</span>
          </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a href ="/about" class="navItems threepx"><span class="lblue 25size" style="font-size:25px">About</span></a></li>
            <li><a href ="/contact" class="navItems threepx"><span class="lblue 25size" style="font-size:25px">Contact</span></a></li>

        		<li class="dropdown">

              <a href="#" class="dropdown-toggle threepx" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="lblue 25size" style="font-size:25px">Apps </span>
              <span class="caret lblue"></span>
              </a>

              <ul class="dropdown-menu">

                {{!-- <li style="font-family: impact;font-size:20px;"> --}}
                {{!-- <a href="#"> --}}

{{!--                   <span class="glyphicon glyphicon-chevron-right lblue"></span>

                  <span class="lblue">Collaborations:</span>

                </li>     --}}     

                <li>
                  <div class="menuObject">
                    <a href="/movie-quiz" class="zeropx"><img src="static/images/movieQuiz.png" class="img-rounded" data-href="http://ark-app.herokuapp.com" ></a>
                    <h4 class="lblue dditem">Movie Quiz</h4>
                  </div>
                </li>
                <li>
                  <div class="menuObject">
                    <a href="/your-love-life" class="zeropx"><img src="static/images/yll.png" class="img-rounded" data-href="http://your-love-life.herokuapp.com" ></a>
                    <h4 class="lblue dditem">Your Love Life</h4>
                  </div>
                </li>

        	      <li>
                  <div class="menuObject">
                    <a href="/wordwars" class="zeropx"><img src="static/images/wordwars.png" class="img-rounded" data-href="http://wordwarsapp.herokuapp.com" ></a>
                    <h4 class="lblue dditem">Word Wars</h4>
                  </div>
                </li>

                <li>
                  <div class="menuObject">
                    <a href="/poemcomber" class="zeropx"><img src="static/images/pcomber.png" class="img-rounded" data-href="https://poemcomber.herokuapp.com/" ></a>
                    <h4 class="lblue dditem">Poem Comber</h4>
                  </div>
                </li>

                <li>
                  <div class="menuObject">
                   <a href="/communitycode" class="zeropx"><img src="static/images/ccode.png" class="img-rounded" data-href="http://communitycode.herokuapp.com/" ></a>
                   <h4 class="lblue dditem">Community Code</h4>
                  </div>
                </li>
                {{!-- <li style="color:#00FFFFFF"></li> --}}
{{!--                 <li style="font-family: impact;font-size:20px;">

                <span class="glyphicon glyphicon-chevron-right lblue"></span>
                <span class="lblue">Experiments:</span>

                </li>



                <li><a href="/hangman" class="zeropx"><img src="static/images/hman.png" class="img-rounded" data-href="http://hangman-z.herokuapp.com/" ></a></li> --}}

                <li>
                  <div class="menuObject">
                   <a href="/hangman" class="zeropx"><img src="static/images/hman.png" class="img-rounded" data-href="http://hangman-z.herokuapp.com/" ></a>
                   <h4 class="lblue dditem">Hangman</h4>
                  </div>
                </li>

              </ul>

            </li>
            <!-- end dropdown -->
            <li class="dropdown">

              <a href="#" class="dropdown-toggle threepx" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="lblue 25size" style="font-size:25px">Games </span>
              <span class="caret lblue"></span>
              </a>

              <ul class="dropdown-menu">

                {{!-- <li style="font-family: impact;font-size:20px;"> --}}
                {{!-- <a href="#"> --}}

{{!--                   <span class="glyphicon glyphicon-chevron-right lblue"></span>

                  <span class="lblue">Collaborations:</span>

                </li>    --}}      

                <li>
                  <div class="menuObject">
                    <a href="/wgal" class="zeropx">
                      <img src="static/images/wgal.png" class="img-rounded" data-href="" >
                    </a>
                    <h4 class="lblue dditem">Wise Guys and Lies</h4>
                  </div>
                </li>

                <li>
                  <div class="menuObject">
                    <a href="/huts" class="zeropx">
                      <img src="static/images/huts.jpg" class="img-rounded" data-href="" >
                    </a>
                    <h4 class="lblue dditem">Huts</h4>
                  </div>
                </li>

                <li>
                  <div class="menuObject">
                  <a href="/cp" class="zeropx">
                    <img src="static/images/cp.png" class="img-rounded" data-href="" >
                  </a>
                  <h4 class="lblue dditem">Cave Paintings</h4>
                  </div>
                </li>

                <li>
                  <div class="menuObject">
                  <a href="/bitog" class="zeropx">
                    <img src="static/images/BITOGtitle.png" class="img-rounded" data-href="" >
                  </a>
                  <h4 class="lblue dditem">Belief in the Old Gods</h4>
                  </div>
                </li>

              </ul>

            </li>
            {{!-- dropdown2 --}}

          </ul>
              
        </div>
      </div>
      </div>
    </nav>

			<div class="container">
			  {{{body}}}
      </div>

      <div class="footer navbar-fixed-bottom">
        <div class="container">

          <div>
            <a target="_blank" href="https://twitter.com/ZintisMay" class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter fa-2x"></span>
            </a><br>

            <a target="_blank" href="https://www.linkedin.com/in/zintismay" class="btn btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin fa-2x"></span>
            </a><br>

            <a target="_blank" href="https://github.com/ZintisMay" class="btn btn-social-icon btn-github">
                <span class="fa fa-github fa-2x"></span>
            </a>
          </div>

        </div>
      </div>

		<script type="text/javascript">
			
		</script>

	</body>
</html>
