.fa{
	color:#4da9ff;

}
.btn-social-icon{
	padding:0px;
}
.dblue {
	color:;
}
.lblue {
	color:#4da9ff;
}
.25size{
	font-size:25px;
}

.pplpic, .presentation {
	border-radius:10px;
}

.pplpic{
	height:100px;
}
.ppldiv{
	text-align:center;

}
.presentationText{
	margin-right:7%;
	margin-left:7%;
}
.ptext{
	text-align:left;
	font-family:arial;
	font-size:25px;
}

ul, li {z-index: 2}

.dropdown-menu{
	background-color:#d3d3d3;
}

h1 {
	font-size: 100px;
	color:#ff0000;

}

.title{
	text-align: center;
}

.background{
}

img {
}

/*nav {
	float:right;
}*/

a{
	margin:3px;
	color:black;
}



.items {
	margin-bottom: 20px;
}
.presentation{
	width:90%;
	height:90%;
	margin:5%;

}
.navbar {
	background-color:black;
	position:fixed;
	z-index: 3;
	top: -1px;
	left: -1px;
	right: -1px;
	height:60px;
}
.container-fluid {
	background-color:#010a1a
;
}
.titlebar {
	background-color:#81b3e4;
}

.panel-header {
	background-color:#81b3e4;
}

.panel {
	width:100%;
}

h4{
	text-align: center;
}

.img-round{
	border:5px;
}


.img-rounded {
	float:left;
	height:80px;
	margin:10px;
	/*border:2px solid #ooo; */
	border:2px hidden;
}

/*.img-rounded:hover{
	border-color:red;
	border:2px solid red;
}*/

.scroll{
	height:100%;
}
.container{
	width:100%;
}

body
{         
    position:fixed;
    top:60px;
    bottom:60px;
    left:0px;
    right:0px;
    background-color: #002966;
    /*background-color: #e6ffff;*/
    overflow:scroll;
}

@media screen and (max-width: 1250px) {
    body {
    	position:relative;
        bottom:auto;
    }
}

@media screen and (max-width: 1000px) {

	.shrink{
		display:none;
/*		width:0px;
		height:0px;*/

	}

	.navbar-toggle {
	    width: 50px ;
	    height: 50px ;
	    border-width: 3px;
	}
	/*This makes the hamburger*/
	.stick{
		height:5px;
		margin-top:3px;
		margin-bottom:3px;
		width:100%;
		background-color:gray;
	}
}


.dropdown-menu{
	z-index: 2;
	background-color: #010a1a;
}

.leftBar{
	text-align:center;
}

.Three-Dee{
/*font-family: ABeeZee ;*/
font-family: georgia ;
line-height: 1em;
/*color: #4da9ff;*/
/*color: black;*/

padding-bottom:8px;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
/*text-shadow:0px 0px 0 rgb(0,0,231),1px 1px 0 rgb(0,0,216),2px 2px 0 rgb(0,0,202),3px 3px 0 rgb(0,0,187),4px 4px 0 rgb(0,0,173),5px 5px 0 rgb(0,0,158), 6px 6px 0 rgb(0,0,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}*/
}
.navItems{
	color:#4da9ff;
	font-size:25px;
}

.caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4da9ff;
}

li > a:hover {

}

.brand {
	text-decoration:none !important;
}

a, h1, h2, h3, h4, h5, h6{color:#4da9ff;
}

p{
	color:white;
}

li>a{padding:5px;}

/*.bump{text-indent:5px;}*/

.dditem{

	font-family:impact;
	font-size:25px;
	margin-bottom:20px;


}

.menuObject{
/*	height:190px;
	width:126px;
	text-align: center;*/
}

.mechanic{
	border-radius: 5px;
	background-color:lightblue;
	color:black;
	text-align: center;
	float:left;
	margin:10px;
	font-style:arial;
	font-weight:bold;
	font-size:20px;
	padding:10px;

}

.iconSize{
	margin:30px 30px 0px 30px;
	width:80%;
	border-radius: 10px;
}

.description{
	margin-left: 7%;
	margin-right: 7%;
}
